{
    "presets": [
        [
            "@babel/preset-env"
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "styled-jsx/babel",
            {
                "optimizeForSpeed": true
            }
        ],
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic"
            }
        ],
        [
            "@babel/plugin-transform-runtime"
        ]
    ]
}