.sty-landing{
    position: relative;
    .sty-padding-col{
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-bottom: 1em;
    }
    .sty-content-landing{
        cursor: pointer;
        position: relative;
        height: 21vw;
    }
    .sty-title{
        position: absolute;
        color: $color-white-1;
        bottom: 1vw;
        width: 100%;
        padding: 0 0em;
        font-weight: 600;
    }
    .sty-title-section{
        margin-top:1.5em;
        margin-bottom:1.5em;
    }
    .sty-content-margin{
        padding-bottom: 3em;
    }
    .sty-fix-font-1{
        color: $color-white-1;
    }
}

.sty-title-landing{
    .sty-content-info{
        position: relative;
    }

    .sty-subtitle{
        position: absolute;
        color: $color-white-1;
        bottom: 0vw;
        right: 0;
        padding-bottom: 2vw;
        padding-top: 2vw;
        font-weight: 600;

        -webkit-box-shadow: inset 0px -134px 24px -89px rgba(0,0,0,1);
        -moz-box-shadow: inset 0px -134px 24px -89px rgba(0,0,0,1);
        box-shadow: inset 0px -134px 24px -89px rgba(0,0,0,1);
    }
}

@media (max-width: 767px){
    .sty-landing{
        .sty-content-landing{
            position: relative;
            height: 40vw;
        }
    }
}